$font: Helvetica,Arial,sans-serif;

.partnerImg {
	padding-left: 7%;
}

.partnerText {
	text-align: center;
	font-family: $font;
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

.bootstrap-iso a:link {
	text-decoration: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.partnerImg {
		width: 100%
	}
	.partnerText{
		font-size: 14px;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
	.partnerImg {
		width: 100%
	}
	.partnerText{
		font-size: 13px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.partnerImg {
		width: 100%
	}
	.partnerText{
		font-size: 11px;
	}
}

@media only screen and (min-width: 520px) and (max-width: 767px) {
	.partnerImg {
		width: 100%
	}
	.partnerText{
		font-size: 6px;
	}
}

@media only screen and (min-width: 420px) and (max-width: 519px) {
	.partnerImg {
		width: 100%
	}
	.partnerText{
		font-size: 5px;
	}
}

@media only screen and (max-width: 419px) {
	.partnerImg {
		width: 100%
	}
	.partnerText{
		font-size: 2px;
	}
}